<% provide(:title, "Users") %>
<div class="container">
    <div class="page-header">
        <h1><%= @role %></h1>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <strong>Name</strong>
                </th>
                <th>
                    <strong>Email</strong>
                </th>
                <th>
                    <strong>Role</strong>
                </th>
                <th>
                    <strong>Last Sign In At</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |b| %> 
            <tr>
                <td>
                    <i><%= b.profile.name %></i>
                </td>
                <td>
                    <i><%= b.email %></i>
                </td>
                <td>
                    <i><%= b.profile.role %></i>
                </td>
                <td>
                    <i><%= b.last_sign_in_at %></i>
                </td>                  
                <% if current_user.allow_user? %>
                    <td>
                        <%= link_to 'Show', user_path(b), class: 'btn btn-info btn-sm' %>
                    </td>                
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>