<% provide(:title, @user.name) %>
<% if @signed_user %>
    <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-primary' %>
<% end %>

<% if @signed_user && @provider.nil? %>
    <%= link_to user_github_omniauth_authorize_url(), class: "btn btn-social btn-github btn-lg" do %><i class="fab fa-github"></i> Link GitHub account?<% end %>
<% else %>
    <div class="container">
        <h1><strong><%= @user.name %></strong><i>(<%= @user.role %>)</i></h1>
        <h2> Public Repositories </h2>
        <% if @repositories.nil? %>
            <p><i>User hasn't linked a GitHub account yet</i></p>
        <% else %>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <strong>Name</strong>
                            </th>
                            <th>
                                <strong>Description</strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @repositories.each do |repo|  %> 
                            <tr>
                                <td>
                                    <%= repo[:name] %>
                                </td>
                                <td>
                                    <i>
                                        <% if repo[:description].blank? %> 
                                            No description 
                                        <% else %> 
                                            <%= repo[:description] %> 
                                        <% end %>
                                    </i>
                                </td>                 
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
<% end %>