<div class="jumbotron">
    <div class="container">
        <h1><strong><%= @user.profile.name %></strong></h1>
        <% if current_user.profile.author? %>
            <%= link_to 'Add new book', new_book_path%>
        <% end %>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>Books</h1>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <strong>Title</strong>
                </th>
                <th>
                    <strong>Genre</strong>
                </th>
                <th>
                    <strong>Year</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @user.books.each do |b| %> 
            <tr>
                <td>
                    <i><%= b.title %></i>
                </td>
                <td>
                    <i><%= b.genre %></i>
                </td>
                <td>
                    <i><%= b.year %></i>
                </td>            
                <td>
                    <%= link_to 'Show', book_path(b), class: 'btn btn-info btn-sm' %>
                </td>                
            </tr>
            <% end %>
        </tbody>
    </table>
</div>