<header class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %><strong>LIBRARY</strong><% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Books', books_path %></li>
    </ul>        
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%if current_user.profile.current_provider.blank? %>
            <span class="glyphicon glyphicon-user"></span> <%= current_user.profile.name %><i>(<%= current_user.profile.role %>)</i> <b class="caret"></b>
          <%else%>
            <i class="fab fa-<%= current_user.profile.current_provider%> fa-lg"></i> <%= current_user.profile.name %><i>(<%= current_user.profile.role %>)</i><b class="caret"></b>
          <%end%>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header"> Profile </li> 
            <li><%= link_to "Edit", edit_user_registration_path %></li>
            <li><%= link_to "Show", user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>        
        </li>
      <% else %>
        <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Log in<% end %></li>
      <% end %>    
    </ul>
  </div>
</header>

<% if !user_signed_in? %>
  <div class="container">
    <div class="alert alert-info">
      <p>To be able to make changes please <%= link_to "Log in", new_user_session_path, class: "alert-link"  %> or <%= link_to "Sign up", new_user_registration_path, class: "alert-link" %></p>
    </div>
  </div>
<% end %> 