<% if user_signed_in? && @book.belongs_to?(current_user) %>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary btn-sm' %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
<% else %>
    <% if @topics.any? %>              
        <%= form_for(@books_topic, url: associations_path,  method: :patch) do |f| %>

            <%= f.hidden_field :book_id, value: @book.id %>
            <%= f.select(:topic_id, @topics.map {|topic| [topic.title, topic.id]}) %>

            <%= f.submit "Add to topic", class: 'btn btn-primary' %>
        <% end %>
    <% elsif current_user.profile.reader? %>
        <p>You don't have any topics yet, <strong><%= link_to 'create', new_topic_path%></strong> the first one now!</p>
    <% end %>
<% end %>