<% provide(:title,"Log In") %>
<div class="container text-center">
    <div class="page-header">
        <h1>Log In</h1> 
    </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <%= f.submit "Log in", class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
<hr>
<div class="container text-center">
  <%= link_to user_facebook_omniauth_authorize_url(), class: "btn btn-social btn-facebook" do %><i class="fab fa-facebook"></i> Log in with Facebook<% end %>
  <%= link_to user_linkedin_omniauth_authorize_url(), class: "btn btn-social btn-linkedin" do %><i class="fab fa-linkedin"></i> Log in with LinkedIn<% end %>
</div>
