<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title)%></title>
    <%= render 'shared/rails_default' %>
    <%= render 'shared/links'%>
  </head>
  <body>
    <%= render 'shared/header', user: @user %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
      <%= yield %>
  </body>
</html>